<!-- <script type="text/javascript" src="../../../js/countries/funShowFixed.js"></script> -->

<label class="radio-inline">
    <input type="radio" data-ng-model="quantityType" data-ng-value="true" data-ng-checked="quantityType"
        data-ng-change="setQuantityType(quantityType); updateData()">
            Quantity
</label>

<label class="radio-inline">
    <input type="radio" data-ng-model="quantityType" data-ng-value="false" data-ng-checked="!quantityType"
        data-ng-change="setQuantityType(quantityType); updateData()">
            Percentage
</label>
